<ion-view title="About yumNUS" id="page8" class="backgroundImage" >
  <ion-content padding="true" class="has-header">   
  	<h3>Welcome to <em>yumNUS</em>!</h3><br />
  	<p id="addPara" style="text-align:center;font-weight:bold;">Hate queeing up?</p>
  	<p id="addPara" style="text-align:center;font-weight:bold;">Want to know if a canteen is crowded without having to be there?</p>
  	<p id="addPara" style="text-align:center;font-weight:bolder;">Then yumNUS is for you!</p>
  	<p id="addPara"> yumNUS helps you decide where you should eat!</p>
  </ion-content>
</ion-view>