<ion-view title="The Terrace Stalls" id="page8" class="backgroundImage" ng-controller="GeoCtrl">
  <ion-content padding="true" class="has-header">
      <h2 style="text-align:center;">STALLS</h2>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>COOL SPOT (DRINKS & SNACKS)</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>DICKSON'S NORTH INDIAN HALAL FOOD </b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b> FRUITS & JUICES</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>HAINANESE CHICKEN RICE </b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>HANDMADE NOODLES </b></p>     
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>HONG KONG KITCHEN</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>JAPANESE CUISINE</b></p>  
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>KOREAN CUISINE</b></p>  
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MUSLIM FOOD</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MIXED VEGETABLE RICE</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>VIETNAMESE CUISINE</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>WESTERN FOOD</b></p>
  </ion-content>
</ion-view>
