<ion-view title="Please login to continue" id="page3" class="backgroundImage">
    <ion-content>
            <div style="width:100%;">
                <img src="images/loginicon2.png" class="mainPageIconContainer" style="height:300px; width:300px">
            </div>
      
            <div class="list list-inset" style="position: relative; top: 20px">
                <label class="item item-input item-icon-right">
                    <input ng-model="username" type="text" placeholder="Username" />
                    <i class="icon ion-email"></i>
                </label>
            </div>
            <div class="list list-inset" style="position: relative; top: 20px">
                <label class="item item-input item-icon-right">
                    <input ng-model="password" type="password" placeholder="Password" />
                    <i class="icon ion-locked"></i>
                </label>
            </div>
            

            <!--
            <div class="loginButton icon-left ion-home">
            </div>
            <input class="loginButton icon-left ion-home" ng-model="username" type="text" placeholder="Username" />

            <input class="loginButton" ng-model="password" type="password" placeholder="Password" />
            -->

            <div class="padding-left padding-right" style="position: relative; top: 20px">
                <div class="button-bar">
                    <a class="button button-stable" ng-click="login(username, password)">Login</a>
                    <a class="button button-stable" ng-click="register(username, password)">Register</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>