<ion-view title="The Terrace Stalls" id="page8" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item style="color:#000000; background-color:transparent;text-align:center;"><b>COOL SPOT (DRINKS & SNACKS)</b></ion-item>
      <ion-item style="color:#000000;text-align:center;background-color:transparent;"><b>DICKSON'S NORTH INDIAN HALAL FOOD </b></ion-item> 
      <ion-item  style="color:#000000;text-align:center; background-color:transparent;"><b> FRUITS & JUICES</b></ion-item>
      <ion-item style="color:#000000;text-align:center;background-color:transparent; "><b>HAINANESE CHICKEN RICE </b></ion-item> 
      <ion-item style="color:#000000;text-align:center;background-color:transparent;"><b>HANDMADE NOODLES </b></ion-item>     
      <ion-item style="color:#000000;text-align:center;background-color:transparent;""><b>HONG KONG KITCHEN</b></ion-item> 
      <ion-item  style="color:#000000;text-align:center;background-color:transparent;"><b>JAPANESE CUISINE</b></ion-item>  
      <ion-item style="color:#000000;text-align:center;background-color:transparent;"><b>KOREAN CUISINE</b></ion-item>  
      <ion-item  style="color:#000000;text-align:center;background-color:transparent;"><b>MUSLIM FOOD</b></ion-item> 
      <ion-item  style="color:#000000;text-align:center;background-color:transparent;"><b>MIXED VEGETABLE RICE</b></ion-item> 
      <ion-item style="color:#000000;text-align:center;background-color:transparent;"><b>VIETNAMESE CUISINE</b></ion-item>
      <ion-item style="color:#000000;text-align:center;background-color:transparent;"><b>WESTERN FOOD</b></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
