<ion-view title="The Terrace Stalls" id="page8" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item id="stall"><b>COOL SPOT (DRINKS & SNACKS)</b></ion-item>
      <ion-item id="stall"><b>DICKSON'S NORTH INDIAN HALAL FOOD </b></ion-item> 
      <ion-item  id="stall"><b> FRUITS & JUICES</b></ion-item>
      <ion-item id="stall"><b>HAINANESE CHICKEN RICE </b></ion-item> 
      <ion-item id="stall"><b>HANDMADE NOODLES </b></ion-item>     
      <ion-item id="stall""><b>HONG KONG KITCHEN</b></ion-item> 
      <ion-item  id="stall"><b>JAPANESE CUISINE</b></ion-item>  
      <ion-item id="stall"><b>KOREAN CUISINE</b></ion-item>  
      <ion-item  id="stall"><b>MUSLIM FOOD</b></ion-item> 
      <ion-item  id="stall"><b>MIXED VEGETABLE RICE</b></ion-item> 
      <ion-item id="stall"><b>VIETNAMESE CUISINE</b></ion-item>
      <ion-item id="stall"><b>WESTERN FOOD</b></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
