<ion-view title="Biz Canteen - The Terrace" id="page5" class="backgroundImage" style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px">
    <ion-content padding="true" class="has-header">
        <a ui-sref="seeLah" id="bizCanteen-button41" class=" button button-positive  button-block ">Forum</a>

        <div class ="card whiteSegmentImage">
          <div class="card item whiteSegmentImage button-show button-block">
            <p id="addPara"> <b>NUS School
                of Computing </b><br>1 Business Link <br> Singapore 117592<br>
            </p>
            <div class="google-maps card item">
               <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=The%20Terrace%20NUS%20Business%20School%2C%20Nus%20Bsiness%20School%2C%20%2305-01%20%2C%201%20Business%20Link%2C%20Singapore%20117592%20%20&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
           </div>
       </div>
       <div class="card item whiteSegmentImage">
           <p style="font-family:sans-serif; font-weight:300px; font-size:18px;color:#000;">Opening hours</p> 
           <p style="font-family:sans-serif; font-weight:300px; font-size:18px;"> Mon-Fri: 7.30am to 4.00pm *<br />
              Sat: 7.30am to 3.00 pm<br />
              *S<em>ome
              stalls will be rostered<br> to operate
              till 8.00pm during term time.</em> </p>
              <p style="font-family: sans-serif; font-weight:300px; font-size:18px;">Total  No. of Stalls: 12</p>
          </div>
          <div>
          <a href="#/biz_canteen_stalls" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">View Stalls</a>    
        </div>
    </div>
</ion-content>
</ion-view>