<ion-view title="Biz Canteen" id="page5" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button ui-sref="temp" id="bizCanteen-button39" class=" button button-positive  button-block ">Contribute!</button>
        <a ui-sref="seeLah" id="bizCanteen-button41" class=" button button-positive  button-block ">See Lah!!!</a>

         <div> 
              <div id="box1">
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;">Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;"> Mon - Fri: 7.30am to 4.00pm *<br />
        		Sat: 7.30am to 3.00 pm<br />
        		*S<em>ome
        		  stalls will be rostered to operate
          		till 8.00pm during term time.</em> </p>
          		  <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;">Total  No. of Stalls = 12</p>
                 </div>
		  </div>
          <div id="box2">
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where: <br>School
            of Computing / NUS Business
            School
            </p>
			 </div>
        </div>
         <div id="box3" style=" border-color: #30231d;background-color: #b5a397; color: #000000; cursor: pointer; ">
                        <a href="https://www.google.com/maps/place/The+Terrace/@1.2947444,103.772345,17z/data=!3m1!4b1!4m5!3m4!1s0x31da1af8b0000001:0xbc4f4bc30d40b650!8m2!3d1.294739!4d103.7745391" class="icon ion-navigate" style="text-decorations:none; color:#000000;">Find in Google Maps</a>
                    </div>
    </div>
        
    </ion-content>
</ion-view>