<ion-view title="Butter My Buns" id="page32" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah14" id="aRTFoodHouse-button63" class=" button button-block card whiteSegmentImage" style="color:#000;">Forum</a>
    <div class="card whiteSegmentImage"> 
     <div class="card item button-show button-block whiteSegmentImage">
       <p id="addPara" > <b>NUS University Town </b><br> 2 College Avenue West<br> Stephen Riady Centre, #01-07<br> Singapore 138607<br>           
        Contact No: 62621649</p>
        <div class="google-maps card item">
         <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJTx-LtvUa2jERLx4c1ewpvHc&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
         <br />
       </div>
     </div>
     <div class="card item whiteSegmentImage">
       <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;color:#000;" >Opening hours</p> 
       <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 10.30am to 9.00pm</p>
       <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;">Weekends:
         Closed</p>
       </div>
       <div>
         <a href="#/butter_my_bun_menu" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">View Menu</a>    
       </div>
     </div>
   </ion-content>
 </ion-view>