<ion-view title="Butter My Bun" id="page32" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="aRTFoodHouse-button62" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah14" id="aRTFoodHouse-button63" class=" button button-positive  button-block ">See Lah!!!</a>

         <div> 
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: <br>8.00am to 6.30pm</p>
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;">For delivery:
        				 Minimum order of $25 within a 10 mins walking distance</p>
                 </div>
		      </div>
        	<div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > <b>NUS University Hall</b><br>            
				    Tan Chin Tuan Wing,
            1st Level<br>
           	Contact No:  6777 5025</p>
			    </div>
          <div>
          	<a href="#/butter_my_bun_menu" class="button button-show button-block" style="color:#000000;text-decoration:none;">View Menu</a>    
          </div>
         <div class="google-maps">
         <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJTx-LtvUa2jERLx4c1ewpvHc&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>
        
    </ion-content>
</ion-view>