<ion-view title="Butter My Buns" id="page32" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="aRTFoodHouse-button62" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah14" id="aRTFoodHouse-button63" class=" button button-positive  button-block ">See Lah!!!</a>

         <div> 
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: <br> 10.30am to 9.00pm</p>
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;">Weekends:
        				 Closed</p>
                 </div>
		      </div>
        	<div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > <b>NUS University Town </b><br> 2 College Avenue West<br> Stephen Riady Centre<br> #01-07<br> Singapore 138607<br>           
           	Contact No: 62621649</p>
			    </div>
          <div>
          	<a href="#/butter_my_bun_menu" class="button button-show button-block" style="color:#000000;text-decoration:none;">View Menu</a>    
          </div>
         <div class="google-maps">
         <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJTx-LtvUa2jERLx4c1ewpvHc&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>
        
    </ion-content>
</ion-view>