<ion-view title="Butter My Buns Menu" id="page20" class=" " ng-controller="GeoCtrl">
<!-- extracted from butter my buns website:https://buttermybuns.sg/-->
    <ion-content padding="true" class="has-header">


		<h1 style="text-align:center;">The Menu</h1>	
	
	<div>
		<p style="text-align:center;"><strong>COFFEE</strong><br />
					espresso _ 3.5<br />
					long black _ 3.0 / 4.0<br />
					mocha _ 6.0 / 7.0<br />
					affogato _ 6.5<br />
					caffe latte _ 5.0 / 6.0<br />
					cappuccino _ 5.0 / 6.0<br />
					piccolo latte _ 4.0<br />
					flat white _ 5.0<br />
					creme brûlée latte _ 6.0 / 7.0<br />
					mint latte _ 6.0 / 7.0<br />
					vanilla latte 6.0 / 7.0</p>
		<p style="text-align:center;"><strong>MILKSHAKES</strong><br />
					baileys cookie _ 8.5<br />
					vanilla _ 8.0<br />
					vanilla bourbon _ 8.5<br />
					chocolate _ 8.5<br />
					chocolate mint _ 8.5<br />
					strawberry _ 8.5<br />
					chocolate banana _ 8.5<br />
					oreo _ 8.5<br />
					snickers _ 8</p>
		<p style="text-align:center;"><strong>SMOOTHIES</strong><br />
					double chocolate _ 7.0<br />
					milo _ 7.0<br />
					horlick _ 7.0</p>
		<p style="text-align:center;"><strong>TEA</strong><br />
					earl grey _ 3.5<br />
					chamomile _ 3.5</p>
		<p style="text-align:center;"><strong>OTHER BEVERAGES</strong><br />
					baileys chocolate _ 7.0 / 8.0<br />
					chocolate _ 5.0 / 6.0<br />
					matcha tea latte _ 5.0 / 6.0<br />
					genmaicha tea latte _ 5.0 / 6.0<br />
					black cow _ 5.5<br />
					iced lemon tea _ 5.0<br />
					honey lemon _ 4.0 / 5.0<br />
					thai milk tea _ 5.0<br />
					honey milk _ 4.5</p>
		<p style="text-align:center;"><strong>BMB BREAKFAST</strong><br />
				<em>mix &amp; match for your perfect breakfast<br />
				eggs &#8211; sous vide half boiled, sunny side up, scrambled, hard boiled</em><br />
				&#8211; &#8211; &#8211;<br />
				eggs two-ways _ 3.0<br />
				oven-baked bacon _ 2.0<br />
				sausage _ 3.0<br />
				mashed potatoes _ 2.0<br />
				mac&amp;cheese _ 3.0<br />
				garlic bread _ 1.5<br />
				potato salad _ 2.0<br />
				pasta salad _ 2.5<br />
				bmb salad _ 1.5<br />
				portobello mushrooms _ 2.5<br />
				cuppa corn _ 1.5<br />
				sourdough bun _ 1.5<br />
				waffle hash _ 2.5<br />
				broccoli _ 1.5</p>
		<p style="text-align:center;"><strong>SALAD</strong><br />
					potato salad _ 5.5<br />
					pasta salad _ 6.0<br />
					bmb salad _ 4.0</p>
		<p style="text-align:center;"><em>salad toppings</em><br />
					egg _ 1.0<br />
					potato chunks _ 2.0<br />
					chicken _ 2.5<br />
					shrimps _ 2.0<br />
					bacon bits _ 1.0</p>
		<p style="text-align:center;"><strong>SUE&#8217;S ORGANIC YOGHURT</strong><br />
		plain yoghurt _ 3.0<br />
		add blueberry granola _ 2.0<br />
		add honey _ 1.0<br />
		add banana _ 1.5<br />
		add strawberries _ 2.0</p>
		<p style="text-align:center;"><strong>LIGHT BITES</strong><br />
		hot dog bun _ 2.5<br />
		bolognese bun _ 5.0<br />
		the bastard bun _ 3.5<br />
		mashed potatoes _ 3.0<br />
		bangers&amp;mash _ 6.0<br />
		mac&amp;cheese _ 4.5<br />
		garlic bread _ 3.0<br />
		mushroom soup _ 3.5<br />
		baked curry chicken _ 6.5<br />
		cuppa corn _ 2.0<br />
		waffle hash _ 2.5<br />
		gourmet baked potato _ 5.5</p>
			<p style="text-align:center;"><strong>BELGIAN WAFFLES</strong><br />
			<em>mix &amp; match for your perfect waffles</em><br />
			plain with honey _ 5.0<br />
			add strawberries _ 1.5<br />
			add gelato _ 2.5 per scoop<br />
			add banana _ 1.5<br />
			add nutella _ 2.0<br />
			add kaya _ 2.0</p>
			<p style="text-align:center;"><strong>SIGNATURE BELGIAN WAFFLES</strong><br />
			honey truffle belgian waffles _ 12.0<br />
			durian vanilla belgian waffles _ 11.0</p>
			<p style="text-align:center;"><strong>CREPES</strong><br />
			<em>mix &amp; match for your perfect crepes</em><br />
			plain with honey _ 4.0<br />
			add nutella _ 2.0<br />
			add gelato _ 2.5 per scroop<br />
			add banana _ 1.5<br />
			add strawberries _ 1.5<br />
			add durian _ 3.0<br />
			add kaya _ 2.0<br />
			add milk chocolate drizzle _ 1.5</p>
				<p style="text-align:center;"><strong>KOREAN BINGSU</strong><br />
				oreo _ 5.5<br />
				banana &amp; strawberries _ 6.0<br />
				honey vanilla _ 5.5<br />
				banana nutella _ 6.0<br />
				rocher _ 7.0<br />
				milo _ 5.5<br />
				horlicks _ 5.5<br />
				durian _ 7.0<br />
				cereal breakfast _ 6.5<br />
				rafaello _ 6.0</p>
			<p style="text-align:center;"><strong>OTHER SWEET DELIGHTS</strong><br />
			soft serve _ 2.5<br />
			gelato _ 2.5 per scoop<br />
			chocolate lava cake _ 8.0<br />
			panna cotta _ 6.0<br />
			apple banana strudel _ 11.0<br />
			muddy dirt pot _ 5.0</p>


    </ion-content>
</ion-view>