<ion-view title="Check Fastfoods" id="page3" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <a ui-sref="macdonaldsFOE" id="checkFastfoods-button27" class=" button button-positive  button-block ">Macdonalds (FOE)</a>
        <a ui-sref="subwayYIH" id="checkFastfoods-button28" class=" button button-positive  button-block ">Subway (YIH)</a>
        <a ui-sref="subwayUTown" id="checkFastfoods-button31" class=" button button-positive  button-block ">Subway (UTown)</a>
    </ion-content>
</ion-view>