<ion-view title="Choose Canteen" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="bizCanteen" id="chooseCanteen-button22" style="color:#0B0F11;" class=" button button-balanced  button-block ">Biz Canteen</a>
        <a ui-sref="fassCanteen" id="chooseCanteen-button19" style="color:#0B0F11;" class=" button button-energized  button-block ">FASS Canteen</a>
        <a ui-sref="flavoursUTown" id="chooseCanteen-button25" style="color:#0B0F11;" class=" button button-balanced  button-block ">Flavours @ UTown</a>
        <a ui-sref="fOECanteen" id="chooseCanteen-button20" style="color:#0B0F11;" class=" button button-assertive  button-block ">FOE Canteen</a>
        <a ui-sref="koufuFoodcourt" id="chooseCanteen-button24" style="color:#0B0F11;" class=" button button-energized  button-block ">Koufu Foodcourt</a>
        <a ui-sref="scienceCanteen" id="chooseCanteen-button21" style="color:#0B0F11;" class=" button button-assertive  button-block ">Science Canteen</a>
        <a ui-sref="yIHFoodJunction" id="chooseCanteen-button23" style="color:#0B0F11;" class=" button button-energized  button-block ">YIH Food Junction</a>
    </ion-content>
</ion-view>