<ion-view title="Choose Cafe" id="page2" class="backgroundImage" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <div ui-sref="alcoveAsianRestaurantBar" id="chooseCanteen-button14" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorAlcove()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Alcove Asian Restaurant Bar</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorAlcove}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="butterMyBun" id="chooseCanteen-button6" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorButter()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Butter My Bun</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorButter}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="humbleOrigins" id="chooseCanteen-button6" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorHumble()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Humble Origins</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorHumble}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="hwangSKoreanRestaurant" id="chooseCanteen-button33" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorHwang()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Hwang's Korean Restaurant</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorHwang}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="theRoyalsBistroCafe" id="chooseCanteen-button6" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorBistro()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">The Royals Bistro Café</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorBistro}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="playtpusFoodbar" id="chooseCanteen-button6" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorPlatypus()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Platypus Foodbar</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorPlatypus}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="reedzCafe" id="chooseCanteen-button11" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorReedz()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Reedz Café</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorReedz}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="saporeItaliano" id="chooseCanteen-button34" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorSapore()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Sapore Italiano</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorSapore}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="spinelli" id="chooseCanteen-button15" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorSpinelli()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Spinelli</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorSpinelli}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>

        <div ui-sref="spiceTableByPines" id="chooseCanteen-button15" style="color:#0B0F11; height:80px; border-color:black"; class="button button-block blueSegmentImage" ng-init="getColorSpice()">
            <div style="float:left">
                <h1 style="text-align:left; font-size:20px; font-family:'Open Sans'; position:relative; top:10px">Spice Table by Pines</h1>
                <div style="text-align:left">
                    <p style="font-size:10px; border-style:solid; border-width:1px; display:inline; padding-left:5px; padding-right:5px">Cafe</p>
                </div>
            </div>
            <img ng-src="{{colorSpice}}" style="height:70px; width:70px; position:relative; top:5px; float:right">
        </div>
        <a ui-sref="starbucksMD11" id="chooseCafe-button17" class=" button button-positive  button-block ">Starbucks (MD11)</a>
        <a ui-sref="starbucksYIH" id="chooseCafe-button16" class=" button button-positive  button-block ">Starbucks (YIH)</a>
        <a ui-sref="starbucksUTown" id="chooseCafe-button18" class=" button button-positive  button-block ">Starbucks (UTown)</a>
        <a ui-sref="universityClub" id="chooseCafe-button13" class=" button button-positive  button-block ">University Club</a>
        <a ui-sref="waaCow" id="chooseCafe-button7" class=" button button-positive  button-block ">Waa Cow</a>
    </ion-content>
</ion-view>