<ion-view title="Choose Cafe" id="page2" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <a ui-sref="alcoveAsianRestaurantBar" id="chooseCafe-button14" style="color:#FFFFFF;" class=" button button-energized  button-block ">Alcove Asian Restaurant Bar</a>
         <a ui-sref="butterMyBun" id="chooseCafe-button6" class=" button button-positive  button-block ">Butter My Bun</a>
        <a ui-sref="humbleOrigins" id="chooseCafe-button9" class=" button button-energized  button-block ">Humble Origins</a>
        <a ui-sref="hwangSKoreanRestaurant" id="chooseCafe-button33" class=" button button-energized  button-block ">Hwang's Korean Restaurant</a>
         <a ui-sref="theRoyalsBistroCafe" id="chooseCafe-button6" class=" button button-assertive  button-block ">The Royals Bistro Café </a>
        <a ui-sref="playtpusFoodbar" id="chooseCafe-button10" class=" button button-assertive  button-block ">Platypus Foodbar</a>
        <a ui-sref="reedzCafe" id="chooseCafe-button11" class=" button button-balanced  button-block ">Reedz Café</a>
        <a ui-sref="saporeItaliano" id="chooseCafe-button34" class=" button button-balanced  button-block ">Sapore Italiano</a>
        <a ui-sref="spinelli" id="chooseCafe-button15" style="font-weight:500;" class=" button button-energized  button-block ">Spinelli</a>
        <a ui-sref="spiceTableByPines" id="chooseCafe-button32" class=" button button-assertive  button-block ">Spice Table by Pines</a>
        <a ui-sref="starbucksMD11" id="chooseCafe-button17" class=" button button-positive  button-block ">Starbucks (MD11)</a>
        <a ui-sref="starbucksYIH" id="chooseCafe-button16" class=" button button-positive  button-block ">Starbucks (YIH)</a>
        <a ui-sref="starbucksUTown" id="chooseCafe-button18" class=" button button-positive  button-block ">Starbucks (UTown)</a>
        <a ui-sref="universityClub" id="chooseCafe-button13" class=" button button-positive  button-block ">University Club</a>
        <a ui-sref="waaCow" id="chooseCafe-button7" class=" button button-positive  button-block ">Waa Cow</a>
    </ion-content>
</ion-view>