<ion-view title="The Deck Stalls" id="page8" class="backgroundImage">
    <ion-content padding="true" class="has-header">
       <div style="background-color:#f5f5f5;opacity:0.6;">
      <ion-item  id="stall"><b>CHINESE COOKED FOOD</b></ion-item>
      <ion-item  id="stall"><b>YONG TAU FOO & LAKSA </b></ion-item>
      <ion-item  id="stall"><b>CLAY POT SEAFOOD SOUP</b></ion-item>
      <ion-item  id="stall"><b>FRESH FRUITS & JUICIES</b></ion-item>
      <ion-item  id="stall"><b>SNACKS & FRIED KWAY TEOW</b></ion-item>
      <ion-item  id="stall"><b>WESTERN</b></ion-item>
      <ion-item  id="stall"><b>INDIAN</b></ion-item>
      <ion-item  id="stall"><b>NOODLE</b></ion-item>
      <ion-item  id="stall"><b>VEGETARIAN</b></ion-item>  
      <ion-item  id="stall"><b>MUSLIM</b></ion-item>
      <ion-item  id="stall"><b>JAPANESE CUISINE</b></ion-item>
      <ion-item  id="stall"><b>DRINKS & SNACKS</b></ion-item>
      <ion-item  id="stall"><b>ROASTED DELIGHTS</b></ion-item>
    </div>
  </ion-content>
</ion-view>





