<ion-view title="The Deck Stalls" id="page8" class="backgroundImage" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
      <h2 style="text-align:center;">STALLS</h2>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>CHINESE COOKED FOOD</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>YONG TAU FOO & LAKSA </b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>CLAY POT SEAFOOD SOUP</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>FRESH FRUITS & JUICIES</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>SNACKS & FRIED KWAY TEOW</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>WESTERN</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>INDIAN</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>NOODLE</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>VEGETARIAN</b></p>  
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MUSLIM</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>JAPANESE CUISINE</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>DRINKS & SNACKS</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>ROASTED DELIGHTS</b></p>
  </ion-content>
</ion-view>





