<ion-view title="FASS Canteen - The Deck" id="page8" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah2" id="fassCanteen-button36" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">Forum</a>
    <div> 
     <div class="card item">
      <p id="addPara"> <b>NUS Faculty of Arts <br>& Social Sciences </b><br>5 Arts Link<br>Singapore 117570<br></p>     
      <div class="google-maps card item">
        <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVVVVJfka2jERZRl7AeJV__s&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe><br />
      </div>            
      <div class="item">
        <p id="detail" >Opening hours</p> 
        <p id="detail" >Mon-Fri: 7.30am to 4.00pm*<br>
          Sat: 7.30am to 3.00pm<br>
          *Some stalls operate till 8.00pm<br>during the weekdays.<br>
          Total No. of Stalls: 13</p>
        </div>
      </div>
    </div>
    <div>
     <a href="#/fass_canteen_stalls" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">View Stalls</a>    
   </div>
 </ion-content>
</ion-view>