<ion-view title="Flavours @ UTown by Food Clique" id="page10" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah3" id="flavoursUTown-button38" class=" button button-block forum" style="color:#000;">Forum</a>
    <div> 
      <div class="card item">
        <p id="addPara"> <b>NUS University Town </b><br>Stephen Riady Centre<br> College Ave West<br></p>
        <div class="google-maps card item">
         <iframe width="50" height="50" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJl9xwzPUa2jER6-9rZ50tOXs&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
         <br />
       </div>         
       <div class="item">
         <p id="detail" >Opening hours</p> 
         <p id="detail" >Mon-Sun: 7.30am to 10.00pm<br>Total No. of Stalls: 10</p> 
       </div>
     </div>
   </div>
   <div>
     <a href="#/flavours_stalls" class="button button-block forum" style="color:#000000;text-decoration:none;">View Stalls</a>   
   </div>
 </ion-content>
</ion-view>