<ion-view title="Flavours @ UTown by Food Clique Stalls" id="page8" class="backgroundImage" >
  <ion-content padding="true" class="has-header">
    <div style="background-color:#f5f5f5;opacity:0.6;">
      <ion-item id="stall"><b>ASTONS</b></ion-item>
      <ion-item  id="stall"><b>BAN MIAN FISH SOUP</b></ion-item> 
      <ion-item id="stall"><b> FISHBALL STORY</b></ion-item>
      <ion-item id="stall"><b>INDIAN</b></ion-item>
      <ion-item id="stall"><b>INDONESIAN EXPRESS</b></ion-item> 
      <ion-item id="stall"><b>JAPANESE</b></ion-item>    
      <ion-item  id="stall"><b>MIXED VEGETABLE RICE</b></ion-item> 
      <ion-item id="stall"><b>NASI PADANG</b></ion-item> 
      <ion-item id="stall"><b> SIP IT</b></ion-item>
      <ion-item id="stall"><b>SI CHUAN</b></ion-item>
    </div>
  </ion-content>
</ion-view>






