<ion-view title="Flavours @ UTown by Food Clique Stalls" id="page8" class="backgroundImage" ng-controller="GeoCtrl">
  <ion-content padding="true" class="has-header">
      <h2 style="text-align:center;">STALLS</h2>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>ASTONS</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>AYAM PANGGANG</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b> JUICE IT</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>HAINANESE CHICKEN RICE </b></p>  
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>INDIAN CUISINE</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>JAPANESE CUISINE</b></p>  
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MUSLIM FOOD</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MIXED VEGETABLE RICE</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b> SIP IT</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>YONG TAU FOO</b></p>
  </ion-content>
</ion-view>
