<ion-view title="Flavours @ UTown by Food Clique Stalls" id="page8" class="backgroundImage" >
  <ion-content padding="true" class="has-header">
      <h2 style="text-align:center;">STALLS</h2>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>ASTONS</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>BAN MIAN FISH SOUP</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b> FISHBALL STORY</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>INDIAN</b></p>
       <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>INDONESIAN EXPRESS</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>JAPANESE</b></p>  
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MIXED VEGETABLE RICE</b></p> 
        <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>NASI PADANG</b></p> 
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b> SIP IT</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>SI CHUAN</b></p>
  </ion-content>
</ion-view>



 


