<ion-view title="Techno Edge Stalls" id="page8" class="backgroundImage" ng-controller="GeoCtrl">
  <ion-content padding="true" class="has-header">
    <h2 style="text-align:center;">STALLS</h2>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>CHICKEN RICE & ROASTED DELIGHT</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>CHINESE COOKED FOOD</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>CLAY POT </b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>DRINKS & SNACKS</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>FRESHLY MADE SOYA MILK</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b> FRUIT JUICE</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>HOUGANG FISH BALLS & MINCED MEAT NOODLES</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>INDONESIAN PANGGANG</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>JAPANESE CUISINE</b></p>   
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>SSS INDIAN FOOD</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>VEGETARIAN FOOD</b></p>  
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>WESTERN FOOD</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>YONG TAU FOO</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>ZARA KITCHEN</b></p>
  </ion-content>
</ion-view>


