<ion-view title="Techno Edge Stalls" id="page8" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <div style="background-color:#f5f5f5;opacity:0.6;">
    <ion-item id="stall"><b>CHICKEN RICE & ROASTED DELIGHT</b></ion-item>
    <ion-item id="stall"><b>CHINESE COOKED FOOD</b></ion-item>
    <ion-item id="stall"><b>CLAY POT </b></ion-item>
    <ion-item id="stall"><b>DRINKS & SNACKS</b></ion-item>
    <ion-item id="stall"><b>FRESHLY MADE SOYA MILK</b></ion-item>
    <ion-item id="stall"><b> FRUIT JUICE</b></ion-item>
    <ion-item id="stall"><b>HOUGANG FISH BALLS & MINCED MEAT NOODLES</b></ion-item>
    <ion-item id="stall"><b>INDONESIAN PANGGANG</b></ion-item>
    <ion-item id="stall"><b>JAPANESE CUISINE</b></ion-item>   
    <ion-item id="stall"><b>SSS INDIAN FOOD</b></ion-item>
    <ion-item id="stall"><b>VEGETARIAN FOOD</b></ion-item>  
    <ion-item id="stall"><b>WESTERN FOOD</b></ion-item>
    <ion-item id="stall"><b>YONG TAU FOO</b></ion-item>
    <ion-item id="stall"><b>ZARA KITCHEN</b></ion-item>
    </div>
  </ion-content>
</ion-view>


