<ion-view title="FOE Canteen - Techno Edge" id="page12" class="backgroundImage">
  <ion-content padding="true" class="has-header">

    <a ui-sref="seeLah4" id="fOECanteen-button43" class=" button button-block forum" style="color:#000;">Forum</a>
    <div> 
     <div class="card item">
      <p id="addPara"> <b>NUS Faculty of Engineering</b><br>2 Engineering Drive 4<br> Singapore 117584<br> </p>
      <div class="google-maps card item">
       <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJb1cyxvka2jERsrFqNCJSWOY&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
       <br />
     </div>
     <div class="item">
       <p id="detail" >Opening hours</p> 
       <p id="detail" >Mon-Fri: 7.30am to 4.00pm<br>
         Sat: 7.30am to 3.00 pm <br>
       </div>
     </div>
   </div>
   <div>
     <a href="#/foe_canteen_stalls" class="button button-block forum" style="color:#000000;text-decoration:none;">View Stalls</a>    
   </div>
 </ion-content>
</ion-view>