<ion-view title="Humble Origins " id="page39" class="backgroundImage" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="humbleOrigins-button68" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah17" id="humbleOrigins-button69" class=" button button-positive  button-block ">See Lah!!!</a>
        <div  class="card whiteSegmentImage">
          <div class="card item button-show button-block whiteSegmentImage">
            <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;color:#000;padding-left:1.5%;padding-top:1.5%;" > <b>NUS Kent Ridge Drive </b><br>Faculty of Arts and Social Sciences <br>Next to LT12<br>
                Singapore 119077<br></p>                
                <div class="google-maps card item">
                    <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXUJxPvka2jERjxfJH_1uyhs&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
                    <br />
                </div>
            </div>
            <div>
                <div class="card item whiteSegmentImage">
                 <p style="font-family:sans-serif; font-weight:300px; font-size:18px;color:#000;" >Opening hours</p> 
                 <p style="font-family:sans-serif; font-weight:300px; font-size:18px;">Mon–Fri: 08:30-18:00<br></p>
             </div>
         </div>
         <div >
          <a href="https://www.facebook.com/Humbleorigins/" class="button button-show button-block card item whiteSegmentImage" style="width:100%;">Find Out More!</a>  
      </div>
  </div>
</ion-content>
</ion-view>


