<ion-view title="Hwang's Korean Restaurant" id="page41" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah18" id="hwangSKoreanRestaurant-button71" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage" >Forum</a>					
    <div> 
      <div class="card item">
        <p id="addPara" > <b>NUS University Town</b><br>1 Create Way<br> #01-09 Create Tower<br>  Singapore 138602 <br>
          Contact No:98330603</p>      
          <div class="google-maps card item">
           <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXfaPOPga2jERIsWFRgloUUM&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
           <br />
         </div>
         <div class="item">
           <p id="detail" >Opening hours</p> 
           <p id="detail">Mon-Sat: 10.00am to 10.00pm<br />
             Last order: 9.00pm</p>
           </div>
         </div>
       </div>
       <div>
        <a href="images/hwang.jpg" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">View Menu</a>  
      </div>
    </ion-content>
  </ion-view>