<ion-view title="Hwang's Korean Restaurant" id="page41" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah18" id="hwangSKoreanRestaurant-button71" class=" button button-block card whiteSegmentImage" style="color:#000;">Forum</a>					
    <div class="card whiteSegmentImage"> 
      <div class="card item button-show button-block whiteSegmentImage">
        <p id="addPara" > <b>NUS University Town</b><br>1 Create Way<br> #01-09 Create Tower<br>  Singapore 138602 <br>
          Contact No:98330603</p>      
          <div class="google-maps card item">
           <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXfaPOPga2jERIsWFRgloUUM&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
           <br />
         </div>
       </div>
       <div>
        <div class="card item whiteSegmentImage">
         <p style="font-family:sans-serif; font-weight:300px; font-size:18px;color:#000;" >Opening hours</p> 
         <p style="font-family:sans-serif; font-weight:300px; font-size:18px;">Mon-Sat: 10.00am to 10.00pm<br />
           Last order: 9.00pm</p>
         </div>
       </div>
       <div>
        <a href="images/hwang.jpg" class="button button-show button-block card item whiteSegmentImage" style="width:100%;">View Menu</a>  
      </div>
    </div>
  </ion-content>
</ion-view>