<ion-view title="Hwang's Korean Restaurant" id="page41" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="hwangSKoreanRestaurant-button70" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah18" id="hwangSKoreanRestaurant-button71" class=" button button-positive  button-block ">See Lah!!!</a>
					<div> 
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Sat: <br> 10.00am to 10.00pm<br />
       					 Last  order: 9.00pm</p>
                 </div>
		      </div>
          
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > <b>NUS University Cultural Centre</b>,<br>
				    50 Kent Ridge Crescent Singapore <br>
           	Contact No:98330603</p>
			    </div>
       
        <div >
          <a href="images/hwang.jpg" class="button button-show button-block" style="width:100%;">View Menu</a>  
        </div>
         <div class="google-maps">
         <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXfaPOPga2jERIsWFRgloUUM&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>


    </ion-content>
</ion-view>