<ion-view title="Koufu Foodcourt" id="page14" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <button id="koufuFoodcourt-button44" class=" button button-positive  button-block ">Contribute!</button>
    <a ui-sref="seeLah5" id="koufuFoodcourt-button45" class=" button button-positive  button-block ">See Lah!!!</a>   <div> 
    <div class="card whiteSegmentImage">
      <div class="card item whiteSegmentImage button-show button-block">
        <p id="addPara"> <b>NUS University Town </b><br> Town Plaza <br>1 CREATE way<br>         
         Contact No: 8777 9984</p>
         <div class="google-maps card item"> 
           <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJuxGY5_Ua2jERnYFIWM2wGLs&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
         </div>
       </div>
       <div class="card item whiteSegmentImage">
         <p style="font-family:sans-serif; font-weight:300px; font-size:18px;color:#000;" >Opening hours</p> 
         <p style="font-family:sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 7.00am to 10.00pm<br />
          Sat &amp; Sun: 10.00am to 10.00pm<br>
          Total  No. of Stalls: 18</p> 
        </div>
        <div>
         <a href="#/koufu_stall" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">View Stalls</a>    
       </div>
     </div>
   </div>
 </ion-content>
</ion-view>