<ion-view title="Koufu Stalls" id="page8" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
    		<h2 style="text-align:center;">STALLS</h2>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">AYAM PENYET .GRILLED</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">NASI PADANG</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">WESTERN</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">INDIAN CUISINE</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">NOODLE HOUSE</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">BAN MIAN .FISH SOUP</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">MIXED VEG RICE</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">YONG TAU FOO</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">KOREAN CUISINE</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">BEVERAGES</p>
    	 <p class="button button-show button-block" style="color:#000000;text-align:center;">FRUITS</p>


    </ion-content>
</ion-view>