<ion-view title="Mcdonald's (FOE)" id="page20" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah8" id="macdonaldsFOE-button51" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">Forum</a>
    <div> 
     <div class="card item">
      <p id="addPara"> <b>NUS Faculty of Engineering Annexe </b><br> 10 Kent Ridge Crescent<br> Singapore 117587<br>
        Contact No: 6777 1440</p>
        <div class="google-maps card item">
          <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJzaeTjPca2jERY1fCWMxJO2o&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
          <br />
        </div>
        <div class="item">
         <p id="detail" >Opening hours</p> 
         <p id="detail" >Mon-Sun & PH: <br>  8.00am to 11.00pm</p>
         <p id="detail">*Call and collect service available</p>
       </div>
     </div>
   </div>
   <div>
   <a href="https://www.mcdonalds.com.sg/our-food/mcdonalds/" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">View Menu</a>    
   </div>
 </ion-content>
</ion-view>