<ion-view title="Macdonalds (FOE)" id="page20" class="backgroundImage" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="macdonaldsFOE-button50" class=" button button-positive  button-block ">Contribute!</button>
        <a ui-sref="seeLah8" id="macdonaldsFOE-button51" class=" button button-positive  button-block ">See Lah!!!</a>
        <div class="card whiteSegmentImage"> 
        	<div class="card item whiteSegmentImage button-show button-block">
                <p id="addPara"> <b>NUS Faculty of Engineering Annexe </b><br> 10 Kent Ridge Crescent<br> Singapore 117587<br>
                    Contact No: 6777 1440</p>
                    <div class="google-maps card item">
                        <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJzaeTjPca2jERY1fCWMxJO2o&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
                        <br />
                    </div>
                </div>
                <div class="card item whiteSegmentImage">
                   <p style="font-family: sans-serif; font-weight:300px; font-size:18px;color:#000" >Opening hours</p> 
                   <p style="font-family: sans-serif; font-weight:300px; font-size:18px;" >Mon-Sun & PH: <br>  8.00am to 11.00pm</p>
                   <p>*Call and collect service available</p>
               </div>
               <div>
                 <a href="https://www.mcdonalds.com.sg/our-food/mcdonalds/" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">View Menu</a>    
             </div>
         </div>
     </ion-content>
 </ion-view>