<ion-view title="Platypus Menu" id="page20" class="backgroundImage">
	<!-- extracted from butter my buns website:https://buttermybuns.sg/-->
	<ion-content padding="true" class="has-header">
		<h1 style="text-align:center;">The Menu</h1>	
		<div style="background-color:#f5f5f5;opacity:0.6;">
			<p style="text-align:center;"><strong>PLATYPUS COFFEE</strong><br />
				<br/>ESPRESSO
				<p style="text-align:center;">single 3.20 double 3.80</p><br />
				<p style="text-align:center;">	LONG BLACK</p>
				<p style="text-align:center;">reg 3.60  large 4.80</p><br />
				<p style="text-align:center;">PICCOLO LATTE </p>
				<p style="text-align:center;">double 4.80</p><br />
				<p style="text-align:center;">CAPPUCCINO</p>
				<p style="text-align:center;">reg 4.40  large 5.20</p><br />
				<p style="text-align:center;">CAFFE LATTE </p>
				<p style="text-align:center;">reg 4.40  large 5.20</p><br />
				<p style="text-align:center;">	MOCHA LATTE</p>
				<p style="text-align:center;">reg 4.80  large 5.80</p><br />
				<p style="text-align:center;">IRISH HOT CHOCOLATE </p>
				<p style="text-align:center;">reg 4.80  large 5.80</p><br />
			</p>
			<p style="text-align:center;"><strong>GOURMET FOOD BAR</strong><br />
				<p style="text-align:center;">SMALL FOOD BOX </p>
				<p style="text-align:center;">ONE premium protein & ONE regular protein <br /></p>
				<p style="text-align:center;">ORAGANIC salad, mixed salads, cold pastas <br /></p>
				<p style="text-align:center;"> 6.90</p><br />
				<p style="text-align:center;">MEDIUM FOOD BOX </p>
				<p style="text-align:center;">TWO premium protein & ONE regular protein <br /></p>
				<p style="text-align:center;">ORAGANIC salad, mixed salads, cold pastas <br /></p>
				<p style="text-align:center;"> 8.90</p><br />
				<p style="text-align:center;">LARGE FOOD BOX </p>
				<p style="text-align:center;">THREE premium protein & ONE regular protein <br /></p>
				<p style="text-align:center;">ORAGANIC salad, mixed salads, cold pastas <br /></p>
				<p style="text-align:center;"> 10.90</p><br />
			</p>
			<p style="text-align:center;"><strong>Pastries & addition</strong><br />
				<br /> GIANT COOKIES
				<p style="text-align:center;">2.50</p><br />
				<p style="text-align:center;">AMAZING SOUP CUP<br /></p>
				<p style="text-align:center;">2.50</p><br />
				<p style="text-align:center;">	ADD REGULAR PROTEIN <br /></p>
				<p style="text-align:center;">1.50</p><br />
				<p style="text-align:center;">ADD PREMIUM PROTEIN<br /></p>
				<p style="text-align:center;">2.00</p><br />
				<p style="text-align:center;">	PROTEIN UPGRADE <br /></p>
				<p style="text-align:center;">add 1.00</p><br />
			</p>
		</div>
	</ion-content>
</ion-view>