<ion-view title="Playtpus Foodbar " id="page43" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px">
    <ion-content padding="true" class="has-header">
        <button id="playtpusFoodbar-button72" class=" button button-show button-block ">Contribute</button>
        <a ui-sref="seeLah19" id="playtpusFoodbar-button73" class=" button button-show  button-block ">See Lah!!</a>
       <div> 
            <div id="box1">
                <div class="button button-show button-block" style="float:left;">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: <br>7.30am to 9.00pm</p>
				 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Weekends and Public Holiday: <br>7.30am to 8.00pm</p>
                 </div>
		  </div>
          <div id="box2">
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where: <br>Science Blk S16</p>
                   
                    <!--div id="map" data-tap-disabled="true"></div-->
                    <!--iframe
                     width="300"
                     height="300"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?&q=NUS,Singapore&zoom=15" allowfullscreen ">
                    </iframe-->

       

			 </div>
        </div>
         <!--div id="box3" style=" border-color: #30231d;background-color: #b5a397; color: #000000; cursor: default; ">
                        <a href="https://www.google.com/maps/search/platypus+food+bar+NUS,+Singapore/@1.2969299,103.7806727,20.18z" class="icon ion-navigate" style="text-decorations:none; color:#000000;">Find in Google Maps</a>
        </div-->
        <div id="box3">
         <iframe width="220" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="http://maps.google.com.sg/maps?ie=UTF8&amp;hl=en&amp;view=map&amp;cid=149684202071467435&amp;q=NUS+Coop+@+LT27&amp;t=m&amp;vpsrc=0&amp;ll=1.2967775, 103.7809592&amp;spn=0.010233,0.013497&amp;iwloc=A&amp;zoom=30&amp;output=embed"></iframe><br />
        </div>
    </div>
    </ion-content>
</ion-view>