<ion-view title="Playtpus Foodbar " id="page43" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="playtpusFoodbar-button72" class=" button button-show button-block ">Contribute</button>
        <a ui-sref="seeLah19" id="playtpusFoodbar-button73" class=" button button-show  button-block ">See Lah!!</a>
        <div>
            <div>
                <div class="button button-show button-block" >
                 <p style="font-family:Comic Sans MS,  sans-serif;font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif;font-weight:300px; font-size:18px;" >Mon-Fri: <br>7.30am to 9.00pm</p>
				 <p style="font-family:Comic Sans MS,  sans-serif;font-weight:300px; font-size:18px;" >Weekends and Public Holiday: <br>7.30am to 8.00pm</p>
                 </div>
		  </div>
          <div>
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif;font-weight:300px;font-size:18px" > Where: <br>Science Blk S16</p>
                   
                    <!--div id="map" data-tap-disabled="true"></div-->
                    <!--iframe
                     width="300"
                     height="300"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?&q=NUS,Singapore&zoom=15" allowfullscreen ">
                    </iframe-->

			 </div>
        </div>
        <a class="button button-show button-block" href="images/platypus_menu.jpeg" style="color:#000000;text-decoration:none;">View Menu</a>  
        <div class="google-maps">
        <iframe width="300" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Platypus%20FoodBar%20NUS&key=AIzaSyDqK83MGByK8ut_qkC00WMN1q2QB8vXO5g" allowfullscreen></iframe>
        <br />
        </div>
        
    </div>
    </ion-content>
</ion-view>