<ion-view title="Reedz Cafe " id="page45" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="reedzCafe-button76" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah20" id="reedzCafe-button77" class=" button button-positive  button-block ">See Lah!!!</a>
        <div> 
         
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: <br> 8.00am to 7.00pm</p>
                 </div>
		      </div>
          <div >
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where: <br>Mochtar
          			  Riady Building,<br>
           				 School of Computing, NUS Business 
           				 School <br>
           		Contact No: 6774 5898 </p>
			    </div>
        </div>
         <div style="float:right;position:relative;left:-10px">
         <iframe width="150" height="150" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8bgrbP8a2jERq776ISMG8ao&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>
    <div id="box3" style=" border-color: #30231d;background-color: #b5a397; color: #000000; cursor: pointer;float:left;">
          <a href="https://www.facebook.com/reedzcafe/" style="color:#000000;text-decoration:none;">Find Out More!</a>  
    </div>
    </ion-content>
</ion-view>