<ion-view title="Reedz Cafe " id="page45" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="reedzCafe-button76" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah20" id="reedzCafe-button77" class=" button button-positive  button-block ">See Lah!!!</a>
        <div> 
         
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: <br> 8.00am to 7.00pm</p>
                 </div>
		      </div>
          <div >
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where: <br>Mochtar
          			  Riady Building,<br>
           				 School of Computing, NUS Business 
           				 School <br>
           		Contact No: 6774 5898 </p>
			    </div>
        </div>
         <div style="float:right;position:relative;left:-10px">
            <iframe width="150" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="1"  src="http://maps.google.com.sg/maps?ie=UTF8&amp;hl=en&amp;view=map&amp;cid=149684202071467435&amp;q=Reedz+Cafe+@+NUS+Business+School&amp;t=m&amp;vpsrc=0&amp;ll=1.2933762,103.7746367&amp;spn=0.010233,0.013497&amp;iwloc=A&amp;zoom=30&amp;output=embed">
         </iframe><br />
        </div>
    </div>
    <div id="box3" style=" border-color: #30231d;background-color: #b5a397; color: #000000; cursor: pointer;float:left;">
          <a href="https://www.facebook.com/reedzcafe/" style="color:#000000;text-decoration:none;">Find Out More!</a>  
    </div>
    </ion-content>
</ion-view>