<ion-view title="Reedz Cafe " id="page45" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px">
    <ion-content padding="true" class="has-header">
        <button id="reedzCafe-button76" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah20" id="reedzCafe-button77" class=" button button-positive  button-block ">See Lah!!!</a>
        <div> 
         
              <div id="box1">
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: <br> 8.00am to 7.00pm</p>
                 </div>
		  </div>
          <div id="box2">
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where: <br>Mochtar
          			  Riady Building,<br>
           				 School of Computing, NUS Business 
           				 School <br>
           		Contact No: 6774 5898 </p>
			 </div>
        </div>
         <div id="box3" style=" border-color: #30231d;background-color: #b5a397; color: #000000; cursor: pointer; ">
                        <a href="https://www.google.com/maps/place/Reedz+Cafe+@+NUS+Business+School/@1.2925654,103.7719679,17z/data=!3m1!4b1!4m5!3m4!1s0x31da1aff6c2bb8f1:0xaaf1062321fabeab!8m2!3d1.29256!4d103.774162" class="icon ion-navigate"  style="text-decorations:none; color:#000000;">Find in Google Maps</a>
                    </div>
    </div>
    </ion-content>
</ion-view>