<ion-view title="Sapore Italiano" id="page47" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="saporeItaliano-button78" class=" button button-positive  button-block ">Tap me!</button>
        <a ui-sref="seeLah21" id="saporeItaliano-button79" class=" button button-positive  button-block ">See Lah!!!</a>
    
         <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif;font-weight:300px; font-size:18px" > Daily: 11.00am to 10.00pm</p>
		 		</div>
        
		      	<div class="button button-show button-block">
				    	<p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px;font-size:18px" > <b>NUS University Town</b><br> 	Town Plaza,<br> CREATE Tower, Level 1, #01-06,  <br>Singapore 138602 <br> Contact No: 85335789, 66845137</p>
			     </div>
              <div>
        	<a class="button button-show button-block" href="images/sapore.jpg" style="color:#000000;text-decoration:none;">View Menu</a>  
            </div>
        <div class="google-maps">
         <iframe width="300" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Sapore%20Italiano%2C%20NUS%20Singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
        <br />
        </div>
      </div>
       
    </ion-content>
</ion-view>