<ion-view title="Science Canteen - Frontier PHASE 1" id="page16" class="backgroundImage" >
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah6" id="scienceCanteen-button47" class="button button-block forum" style="color:#000;">Forum</a>
    <div class="card">
      <p id="detail"> <b>Currently Science Canteen is CLOSED.<br> New Frontier Phase 1 is open <br>with 5 stalls operating.</b></p>
    </div>
    <div> 
      <div class="card item">
        <p id="addPara"> <b>NUS Faculty Of Science </b><br>2 Medical Dr<br> Singapore 117593<br>
        </p>
        <div class="google-maps card item">
         <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Science%20Canteen%20NUS&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
         <br />
       </div>
       <div>
        <div class="item">
         <p id="detail" >Opening hours</p> 
         <p id="detail" >Mon-Fri: 7.30am to 4.00pm *<br />
          Sat: 7.30am to 3.00pm<br />
          Total  No. of Stalls: 5</p>
        </div>
      </div>
    </div>
  </div>
  <div>
   <a href="#/science_canteen_stalls" class="button button-block forum" style="color:#000000;text-decoration:none;">View Stalls</a>    
 </div>
</ion-content>
</ion-view>