<ion-view title="Science Canteen - Frontier" id="page16" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="scienceCanteen-button46" class=" button button-positive  button-block ">Contribute!</button>
        <a ui-sref="seeLah" id="scienceCanteen-button47" class=" button button-positive  button-block ">See Lah!!!</a>
        <div> 
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 7.30am to 4.00pm *<br />
       					Sat: 7.30am to 3.00pm<br />
        				*Some stalls will be rostered to operate till 8.00pm during term time.<br>Total  No. of Stalls: 13</p>
                 </div>
		      </div>
        	<div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > <b>NUS Faculty Of Science </b><br>2 Medical Dr<br> Singapore 117593<br>           
           	</p>
			    </div>
          <div>
          	<a href="" class="button button-show button-block" style="color:#000000;text-decoration:none;">NONE</a>    
          </div>
         <div class="google-maps">
         <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Science%20Canteen%20NUS&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>
    </ion-content>
</ion-view>