<ion-view title="Frontier Phase 1 Stalls" id="page8" class="backgroundImage" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
      <h2 style="text-align:center;">STALLS</h2>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>AYAM PENYET</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>CHICKEN RICE</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>DRINKS & SNACKS</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>NOODLES</b></p>
      <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>WESTERN CUISINE</b></p>
  </ion-content>
</ion-view>