<ion-view title="See Lah!!!" id="page33" class="backgroundImage" ng-init="list(); filter(); filterClosed()" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <div class="list" style="font-family:'Open Sans'">
            <h1 class="item" style="font-size:20px"> Closed Stalls </h1>
        	<div ng-repeat="closeStalls in closed.butterMyBun" class="item">
        		<div style="float:left">
                    <img src="images/closesign.png" style="height:50px; width:50px; float:left; position:relative; left:-5px">
                    <div style="vertical-align:center; position:relative; left:3px">
                        <h1 style="font-size:15px; overflow:visible"> {{closeStalls.name}} </h1>
                        <p style="font-size:15px; overflow:visible"> {{closeStalls.comment}} </p>
                    </div>
                </div>
        			<div class="ion-clock" style="float:right"> {{getTimeDay(closeStalls.time)}}d ago </div>
        		</p>
        	</div>
        </div>
        <div class="list">
            <h1 class="item" style="font-size:20px"> Other Comments </h1>
            <div ng-repeat="bun in data.butterMyBun" class="item">
                <div style="float:left">
                    <img ng-src="{{ bun.option }}" style="height:50px; width:50px; float:left; position:relative; left:-5px"> 
                    <div style="vertical-align:center; position:relative; left:3px">
                        <h1 style="font-size:15px; overflow:visible"> {{bun.name}} </h1>
                        <p style="font-size:15px; overflow:visible"> {{bun.comment}} </p>
                    </div>
                </div>
                	<div class="ion-clock" style="float:right;"> {{getTimeMin(bun.time)}}m ago </div> 
                </p>
            </div>
        </div>    
    </ion-content>
</ion-view>