<ion-view title="Sapore Italiano Forum" id="page40" class="backgroundImage" ng-init="list(); filter(); filterClosed()">
	<ion-content padding="true" class="has-header">
		<div class="list" style="font-family:'Open Sans'">
		<h1 ui-sref="saporeContribute" class="item button button-block" style="font-size:20px; text-align:center">Contribute!</h1>
		</div>
		<div class="list" style="font-family:'Open Sans'">
			<h1 class="item" style="font-size:20px"> Closed Stalls </h1>
			<div ng-repeat="closeStalls in closed.sapore" class="item">
				<div style="float:left">
					<img src="images/closesign.png" style="height:50px; width:50px; float:left; position:relative; left:-5px">
					<div style="vertical-align:center; position:relative; left:3px">
						<h1 style="font-size:15px; overflow:visible"> {{closeStalls.name}} </h1>
						<p style="font-size:15px; overflow:visible"> {{closeStalls.comment}} </p>
					</div>
				</div>
				<div class="ion-clock" style="float:right"> {{getTimeDay(closeStalls.time)}}d ago </div>
			</p>
		</div>
	</div>
	<div class="list">
		<h1 class="item" style="font-size:20px"> Other Comments </h1>
		<div ng-repeat="other in data.sapore" class="item">
			<div style="float:left">
				<img ng-src="{{ other.option }}" style="height:50px; width:50px; float:left; position:relative; left:-5px"> 
				<div style="vertical-align:center; position:relative; left:3px">
					<h1 style="font-size:15px; overflow:visible"> {{other.name}} </h1>
					<p style="font-size:15px; overflow:visible"> {{other.comment}} </p>
				</div>
			</div>
			<div class="ion-clock" style="float:right;"> {{getTimeMin(other.time)}}m ago </div> 
		</p>
	</div>
</div>    
<div class="card" ng-repeat="img in image.sapore" >
	<div class="card item" >
		<img ng-src="{{ img.image }}" width="100%" />
		<div style="vertical-align:center; position:relative; left:3px">
			<h1  style="font-size:15px; overflow:visible"> {{img.name}} </h1>
			<div class="ion-clock" style="float:right;"> {{getTimeMin(img.time)}}m ago </div> 
		</div>
	</div>
</div>
</ion-content>
</ion-view>
   
