<ion-view  title="What's Near You??" id="page7" class=" " ng-controller="restaurantlistController" style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" >
    <ion-content padding="true" class="has-header">
        <div   ng-init="colourCode(restaurant)" ng-repeat="restaurant in restaurantList |  orderBy: 'distance' " href='#'>
        <article class="item_frame" >
          <div class="marker_left_container" >
            <!--h2  ng-class= "{'balanced': restaurant.color == 'balanced', 'energized': restaurant.color =='energized', 'assertive': restaurant.color == 'assertive'}"> {{ restaurant.Name }} </h2 -->
            <div ng-class= "getColor(restaurant)" ng-init="getURL(restaurant)">
              <a href="" ng-href="#/{{restaurant.url}}" style="font-weight:600; text-align:center;line-height:45px;" class=" button button-intro  button-block">
                <h2  ng-class= "getColor(restaurant)" style="font-family:Comic Sans MS, sans-serif; font-weight:bold; font-size:25px"> {{ restaurant.Name }} </h2>
                <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:15px;" >{{ restaurant.venueType }} </p>             
               <p style="font-family:Comic Sans MS, sans-serif; font-weight:300px; font-size:15px;"> Distance: {{ distanceTo(restaurant) }} km from current location</p>
               <p style="font-family:Comic Sans MS, sans-serif; font-weight:300px; font-size:15px;"> Crowd Level:  <img ng-src="{{restaurant.src}}"/> </p>
             </a> 
            </div>
          </div>
          <div>
          </div>
        </article><!--main article frame 1 -->
        </div>
    </ion-content>
</ion-view>