<ion-view title="Spice Table by Pines " id="page51" class=" " ng-controller="GeoCtrl"> 
    <ion-content padding="true" class="has-header">
        <button id="spiceTableByPines-button82" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah23" id="spiceTableByPines-button83" class=" button button-positive  button-block ">See Lah!!!</a>

         <div> 
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: <br> 10.30am to 10.00pm<br> Last order: 9.30pm</p>
                 </div>
		      </div>
        	<div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > <b>NUS University Town Plaza </b><br>1 Create Way, #01-12<br> Singapore 138302<br>           
           	Contact No:6339 9912<p>
			    </div>
          <div>
          	<a href="" class="button button-show button-block" style="color:#000000;text-decoration:none;">View Menu(unable to find)</a>    
          </div>
         <div class="google-maps">
         <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr_UK5PUa2jERil7Zuf7sq4w&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>
    </ion-content>
</ion-view>