<ion-view title="Spinelli" id="page49" class="backgroundImage" >
    <ion-content padding="true" class="has-header">
        <a ui-sref="seeLah22" id="spinelli-button81" class=" button button-block card whiteSegmentImage" style="color:#000;">Forum</a>
        <div class="card whiteSegmentImage"> 
          <div class="card item button-show button-block whiteSegmentImage">
            <p id="addPara"> <b>NUS University Hall</b><br>            
                Tan Chin Tuan Wing,
                1st Level<br>
                Contact No:  6777 5025</p>
                <div class="google-maps card item">
                   <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJKffnpVca2jERGPybSbqLyxc&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
                   <br />
               </div>
           </div>
           <div class="card item whiteSegmentImage">
               <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;color:#000;" >Opening hours</p> 
               <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 8.00am to 6.30pm</p>
               <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;">For delivery:
                   Minimum order of $25, <br>within a 10 mins walking distance</p>
               </div>
               <div >
                 <a href="#/spinelli_Menu" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">View Menu</a>  
             </div>
         </div>
     </ion-content>
 </ion-view>