<ion-view title="Spinelli Menu" id="page8" class="backgroundImage" >
    <ion-content padding="true" class="has-header">
   		 <a href="http://www.spinellicoffee.com/#!coffee/c1xdk" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">Coffee</a>
    	 <a href="http://www.spinellicoffee.com/#!signature-beverages/cnwe" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">Signature Beverages</a>
    	 <a href="http://www.spinellicoffee.com/#!gourmet-fare/c1eyh" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">Gourmet Fare</a>
    	 <a href="http://www.spinellicoffee.com/#!cakes/cz5m" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">Cakes</a>
    </ion-content>
</ion-view>