<ion-view title="Starbucks @ UTown" id="page57" class="backgroundImage" >
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah26" id="starbucksUTown-button89" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">Forum</a>
    <div> 
      <div class="card item">
        <p id="addPara" > <b> NUS Univerity Town</b><br>8 College Avenue West<br> #B1-01 (Education Resource Centre)<br> Singapore 138608<br> Contact: 6659 6081</p>
        <div class="google-maps card item">
         <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Starbucks%20University%20Town%2C%20NUS%20singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>       
       </div>
       <div class="item">
         <p id="detail">Opening hours</p> 
         <p id="detail" >Mon-Sun: 24 Hours<br /></p>
       </div>
     </div>
   </div> 
   <div>
    <a  href="http://www.starbucks.com.sg/menu" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">View Menu</a>  
  </div>
</ion-content>
</ion-view>