<ion-view title="Starbucks(YIH)" id="page55" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah25" id="starbucksYIH-button87" class=" button button-block card whiteSegmentImage" style="color:#000;">Forum</a>
    <div class="card whiteSegmentImage"> 
      <div class="card item button-show button-block whiteSegmentImage">
        <p id="addPara"> <b> NUS Yusof Ishak House</b><br> 31 Lower Kent Ridge Road<br>
          Singapore 119078<br>
          Contact No: 6872 2144 </p>
          <div class="google-maps card item">
            <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Starbucks%20Yusof%20Ishak%2C%20NUS%20singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card item whiteSegmentImage">
         <p style="font-family:sans-serif; font-weight:300px; font-size:18px;color:#000;" >Opening hours</p> 
         <p style="font-family:sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 8.00am to 10.00pm<br />
          Sat, Sun &amp; PH: 10.00am to 7.00pm<br> </p>
        </div>
        <div>
          <a class="button button-show button-block card item whiteSegmentImage" href="http://www.starbucks.com.sg/menu" style="color:#000000;text-decoration:none;">View Menu</a>  
        </div>           
      </div>
    </ion-content>
  </ion-view>