<ion-view title="Starbucks(MD11)" id="page53" class="backgroundImage" style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">
  <ion-content padding="true" class="has-header">
    <button id="starbucksMD11-button84" class=" button button-positive  button-block ">Contribute</button>
    <a ui-sref="seeLah24" id="starbucksMD11-button85" class=" button button-positive  button-block ">See Lah!!!</a>
    <div class="card whiteSegmentImage"> 
      <div class="card item button-show button-block whiteSegmentImage">
        <div>
          <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;color:#000;padding-left:1.5%;padding-top:1.5%;" > <b>NUS MD11</b><br> 10 Medical Hall #01-40<br> Yong Loo Lin School of Medicine<br> Singapore 117597<br>
            Contact No: 6778 5172 </p>
            <div class="google-maps card item">
              <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Starbucks%20MD11%2C%20NUS%20singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>               
            </div>
          </div>
          <div class="card item whiteSegmentImage">
           <p style="font-family: sans-serif; font-weight:300px; font-size:18px;color:#000;" >Opening hours</p> 
           <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 8.00am to 8.00pm<br />
            Sat,Sun&amp;PH: 8.00am to 5.00pm<br> </p>
          </div>

          <a class="button button-show button-block whiteSegmentImage card item" href="http://www.starbucks.com.sg/menu" style="color:#000000;text-decoration:none;">View Menu</a>  
        </div>
      </div> 

    </ion-content>
  </ion-view>