<ion-view title="Starbucks(YIH)" id="page55" class=" " ng-controller="GeoCtrl">
  <ion-content padding="true" class="has-header">
    <button id="starbucksYIH-button86" class=" button button-positive  button-block ">Contribute</button>
    <a ui-sref="seeLah25" id="starbucksYIH-button87" class=" button button-positive  button-block ">See Lah!!!</a>
    <div> 
      <div class="button button-show button-block">
       <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
       <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 8.00am to 10.00pm<br />
        Sat, Sun &amp; PH: 10.00am to 7.00pm<br> </p>
      </div>
      <div class="button button-show button-block">
        <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > <b> NUS Yusof Ishak House</b><br> 31 Lower Kent Ridge Road<br>
          Singapore 119078<br>
          Contact No: 6872 2144 </p>
        </div> 
        <div>
          <a class="button button-show button-block" href="http://www.starbucks.com.sg/menu" style="color:#000000;text-decoration:none;">View Menu</a>  
        </div>
        <div class="google-maps">
          <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Starbucks%20Yusof%20Ishak%2C%20NUS%20singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>           
        </div>
      </div>
    </ion-content>
  </ion-view>