<ion-view title="Starbucks(MD11)" id="page53" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="starbucksMD11-button84" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah24" id="starbucksMD11-button85" class=" button button-positive  button-block ">See Lah!!!</a>
         <div> 
         
              <div id="box1">
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Fri: 7.30am to 10.00pm<br />
                  Sat, Sun &amp; PH: 8.00am to 5.00pm<br> </p>
                 </div>
		  </div>
          <div id="box2">
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where:<br> MD11, 10 Medical Dr<br>
           		 Contact No: 6778 5172 </p>
			 </div>
        </div>
         <div id="box3" style=" border-color: #30231d;background-color: #b5a397; color: #000000; cursor: pointer; ">
                        <a href="https://www.google.com/maps/place/Starbucks/@1.2960888,103.7797093,17z/data=!3m1!4b1!4m5!3m4!1s0x31da1a512fd0c34f:0x1053ce5464fd83b6!8m2!3d1.2960834!4d103.7819034" class="icon ion-navigate"  style="text-decorations:none; color:#000000;">Find in Google Maps</a>
                    </div>
    </div>

    </ion-content>
</ion-view>