<ion-view title="Subway @ YIH" id="page22" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah9" id="subwayYIH-button53" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">Forum</a>
    <div> 
      <div class="card item">
        <p id="addPara"> <b> NUS Yusof Ishak House</b><br>
          31 Lower Kent Ridge Road<br>
          #01-06 Yusof Ishak House<br>
          Singapore 119078<br>
          Contact No:  6775 5285</p>
          <div class="google-maps card item">
           <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Subway%20-%20YIH%2CNUS%20%20Singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
           <br />
         </div>
         <div class="item">
           <p id="detail"><b>Opening hours</b></p> 
           <p id="detail">Mon-Sun: 09:00- 18:00 <br>
           </p>
           <p id="detail"><b>For delivery</b>:<br></p>
           <p id="detail">
             Walking distance within 5 to 10 mins:<br />
             Minimum order above $30<br />
             No delivery between 12-2pm<br>
             Within driving distance:<br />
             Minimum order above $50<br />
             Must order one day in   advance<br />
             Subject to store availability<br />
           </p>
         </div>
       </div>
     </div>
     <div >
       <a href="https://www.substogo.sg/menu.php" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">View Menu</a>  
     </div>
   </ion-content>
 </ion-view>