<ion-view title="Subway (UTown)" id="page28" class=" " ng-controller="GeoCtrl"> 
    <ion-content padding="true" class="has-header">
        <button id="subwayUTown-button58" class=" button button-positive  button-block ">Contribute!</button>
        <a ui-sref="seeLah12" id="subwayUTown-button59" class=" button button-positive  button-block ">See Lah!!!</a>
        <div> 
         
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >Mon-Sun: 09:00 - 18:00 <br>
									</p>
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;">For delivery:
        				 Minimum order of $25 within a 10 mins walking distance</p>
                 </div>
		      </div>
          <div >
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px"><b> NUS University Town</b><br>
							1 Create Way<br>
							#01-02 NUS Create<br>						
            Contact No: 6659 6109</p>
			    </div>
        </div>
          <a href="http://www.subway.com/en-sg/menunutrition" class="button button-show button-block" style="color:#000000;text-decoration:none;">View Menu</a>  
         <div class="google-maps">
         <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Subway%20Create%20Way%2CNUS%20Singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>
    </ion-content>
</ion-view>