<ion-view title="Subway @ UTown" id="page28" class="backgroundImage"> 
    <ion-content padding="true" class="has-header">
        <a ui-sref="seeLah12" id="subwayUTown-button59" class=" button button-block forum" style="color:#000;">Forum</a>
        <div> 
          <div class="card item">
            <p id="addPara"><b> NUS University Town</b><br>
                1 Create Way<br>
                #01-02 NUS Create<br>                       
                Contact No: 6659 6109</p>
                <div class="google-maps card item">
                   <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Subway%20Create%20Way%2CNUS%20Singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
                   <br />
               </div>        
               <div class="item">
                   <p id="detail" >Opening hours</p> 
                   <p id="detail" >Mon-Sun: 09:00 - 18:00 <br>
                   </p>
                   <p id="detail">For delivery:</p>
                   <p id="detail">Minimum order of $25,<br>within a 10 mins walking distance</p>
               </div>
           </div>
       </div>   
       <div>
          <a href="http://www.subway.com/en-sg/menunutrition" class="button button-block forum" style="color:#000000;text-decoration:none;">View Menu</a>  
      </div>
  </ion-content>
</ion-view>