<ion-view title="See Lah!!!" id="page13" class=" ">
   <ion-content>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Comments" />
                </label>                
            </div>           
                <div class="button-bar">
                    <a class="button" ng-click="login(username, password)">Submit</a>
                </div>            
        </div>
    </ion-content>
</ion-view>