<ion-view title="Leave your comments!" id="page13" class=" " ng-init="list()">
   <ion-content>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="comments" type="text" placeholder="Comments" />
                </label>                
            </div>           
                <div class="button-bar">
                    <a class="button" ng-click="create(comments)">Submit</a>
                </div>            
        </div>
    </ion-content>
</ion-view>