<ion-view title="The Royals Bistro Café" id="page32" class="backgroundImage">
  <ion-content padding="true" class="has-header">
    <a ui-sref="seeLah15" id="aRTFoodHouse-button63" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">Forum</a>
    <div>
      <div class="card item">
        <p id="addPara" > <b>NUS University Town</b><br> Town Plaza,<br>CREATE Tower, Level 1<br>Singapore 138602</p>
        <div class="google-maps card item">
          <iframe width="200" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=The%20Royal%20Bistro%20NUS&key=AIzaSyDqK83MGByK8ut_qkC00WMN1q2QB8vXO5g" allowfullscreen></iframe>
          <br />
        </div>
        <div class="item">
         <p id="detail" >Opening hours</p> 
         <p id="detail" > Mon-Sat: 11:00am - 8:30pm</p>
         <p id="detail" > Sun &amp PH: Closed</p>
       </div>  
     </div>
   </div>
   <div>
     <a  href="images/royals_bistro_menu_larger.jpg" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">View Menu</a>
   </div>
 </ion-content>
</ion-view>