<ion-view title="The Royals Bistro Café" id="page32" class=" " style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">

    <ion-content padding="true" class="has-header">
        <button id="aRTFoodHouse-button62" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah15" id="aRTFoodHouse-button63" class=" button button-positive  button-block ">See Lah!!!</a>
       	<div>
         <div id="box1">
                <div class="button button-show button-block" style="float:left;">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" > Mon-Sat: <br>	11:00am - 8:30pm
 								</p>
 								<p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" > Sun &amp PH: <br>	Closed
 								</p>
                 </div>
		  </div>
          <div id="box2">
		      	<div class="button button-show button-block">
				    	<p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" > Where: <br>NUS U-Town, 	Town Plaza,<br> CREATE Tower, Level 1, <br>Singapore 138602</p>
			 			</div>
        	</div>
        <div style="position:relative;top:16px;">
         <iframe width="200" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="http://maps.google.com.sg/maps?ie=UTF8&amp;hl=en&amp;view=map&amp;cid=149684202071467435&amp;q=The+Royals+Bistro+Cafe&amp;t=m&amp;vpsrc=0&amp;ll=1.3038994, 103.7719634&amp;spn=0.010233,0.013497&amp;iwloc=A&amp;zoom=30&amp;output=embed">
         </iframe><br />
        </div>
        <div id ="img">
        	<a href="images/royals_bistro_menu_larger.jpg"><img src="images/royals_bistro_menu.jpg" style="vertical-align:bottom"></a>  
        </div>
    </div>
    </ion-content>
</ion-view>