<ion-view title="University Club " id="page59" class="backgroundImage">
    <ion-content padding="true" class="has-header">
        <button id="universityClub-button90" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah27" id="universityClub-button91" class=" button button-positive  button-block icon ion-thumbsup ">See Lah!!!</a>
        <div class="card whiteSegmentImage"> 
            <div class=" card item button-show button-block whiteSegmentImage">
                <div>
                    <p id="addPara"> <b> NUS Shaw Foundation Alumni House</b><br>
                        11 Kent Ridge Dr<br>
                        #04-02 <br>
                        Singapore 119244<br>
                        Contact No: 67798919 
                    </p>
                    <div class="card item google-maps">
                        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJAQAAQP8a2jER9ptm7lUNeE4&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card item whiteSegmentImage">
                <p style="font-family: sans-serif; font-weight:300px; font-size:18px;"><b>Opening hours</b></p> 
                <p style="font-family:  sans-serif; font-weight:300px; font-size:18px;">Monday-Friday:<br>
                    Lunch: 11.30am – 2.30pm<br>(last seating 2pm)<br>
                    Dinner: 6.30pm - 10.30pm<br>(last seating 9.45pm)<br>
                    Weekends & Public Holiday: Closed <br>
                </div>
                <div>
                  <a href="http://theprivegroup.com.sg/index.php/tuc/menus" class="button button-show button-block whiteSegmentImage card item" style="color:#000000;text-decoration:none;">View Menu</a>  
              </div>

          </div>



      </ion-content>
  </ion-view>