<ion-view title="University Club " id="page59" class="backgroundImage">
    <ion-content padding="true" class="has-header">
        <a ui-sref="seeLah27" id="universityClub-button91" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">Forum</a>
        <div> 
            <div class="card item">
                <p id="addPara"> <b> NUS Shaw Foundation Alumni House</b><br>
                    11 Kent Ridge Dr<br>
                    #04-02 <br>
                    Singapore 119244<br>
                    Contact No: 67798919 
                </p>
                <div class="card item google-maps">
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJAQAAQP8a2jER9ptm7lUNeE4&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
                </div>
                <div class="item">
                    <p id="detail">Opening hours</p> 
                    <p id="detail">Monday-Friday:<br>
                        Lunch: 11.30am – 2.30pm<br>(last seating 2pm)<br>
                        Dinner: 6.30pm - 10.30pm<br>(last seating 9.45pm)<br>
                        Weekends & Public Holiday: Closed <br>
                    </div>
                </div>
            </div>
            <div>
            <a href="http://theprivegroup.com.sg/index.php/tuc/menus" style="color:#0B0F11; border-color:black;" class="button button-block blueSegmentImage">View Menu</a>  
          </div>
      </ion-content>
  </ion-view>