<ion-view title="Waa Cow " id="page61" class=" "  style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px">
    <ion-content padding="true" class="has-header">
        <button id="waaCow-button92" class=" button button-positive  button-block ">Contribute</button>
        <a ui-sref="seeLah28" id="waaCow-button93" class=" button button-positive  button-block ">See Lah!!!</a>

         <div> 
         
              <div id="box1">
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:20px;">Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;">Mon-Thu: 10.00am to 6.00pm<br />
                  (last order: 5.30pm) <br/>
                  Fri: 10.00am to 8.00pm<br />
                  (last order: 7.30pm)<br />
                  Sat: 10.00am to 4.00pm<br>
									(last order: 3.30pm)<br />
                  Sun   &amp; PH: closed</p>                     
                 </div>
		  </div>
          <div id="box2">
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where: <br> Shaw Foundation Alumni House <br>
				    Contact No:  8328 3127 
            </p>
			 </div>
        </div>
         <div id="box3" style=" border-color: #30231d;background-color: #b5a397; color: #000000; cursor: pointer; ">
                        <a href="https://www.google.com/maps/place/Waa+Cow/@1.2938932,103.7719296,17z/data=!3m1!4b1!4m5!3m4!1s0x31da1aff322c6f33:0x1daed4a590fe216c!8m2!3d1.29389!4d103.773257" class="icon ion-navigate"  style="text-decorations:none; color:#000000;">Find in Google Maps</a>
                    </div>
    </div>
    </ion-content>
</ion-view>