<ion-view title="Waa Cow " id="page61" class="backgroundImage"  style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl">
  <ion-content padding="true" class="has-header">
    <button id="waaCow-button92" class=" button button-positive  button-block ">Contribute</button>
    <a ui-sref="seeLah28" id="waaCow-button93" class=" button button-positive  button-block ">See Lah!!!</a>

    <div class="card whiteSegmentImage">                
      <div class="card item whiteSegmentImage button-show button-block">
        <p id="addPara"> <b> NUS Shaw Foundation Alumni House</b><br>
          11 Kent Ridge Dr<br>
          Singapore 119244<br>
          Contact No: 8328 3127 
        </p>
        <div class="google-maps card item">
          <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Waa%20Cow%20NUS%20singapore&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card item whiteSegmentImage">
        <p style="font-family:sans-serif; font-weight:300px; font-size:18px;color:#000;">Opening hours</p> 
        <p style="font-family:sans-serif; font-weight:300px; font-size:18px;">Mon-Thu: 10.00am to 6.00pm<br />
          (last order: 5.30pm) <br/>
          Fri: 10.00am to 8.00pm<br />
          (last order: 7.30pm)<br />
          Sat: 10.00am to 4.00pm<br>
          (last order: 3.30pm)<br />
          Sun   &amp; PH: closed</p>                     
        </div>
        <div>
          <a href="https://www.facebook.com/waacowsg/" class="button button-show button-block card item whiteSegmentImage" style="color:#000000;text-decoration:none;">Find Out More!</a>  
        </div>
      </div>
    </ion-content>
  </ion-view>