<ion-view title="YIH Food Junction Stalls" id="page8" class="backgroundImage" ng-controller="GeoCtrl">
  <ion-content padding="true" class="has-header">
    <h2 style="text-align:center;">STALLS</h2>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>BA WEI BAN MIAN</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>CHICKEN RICE </b></p>  
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b> FRUITS & JUICIES</b></p>    
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>JAPANESE CUISINE</b></p>  
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MISO KOREAN CUISINE</b></p>  
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>MIXED VEGETABLE RICE</b></p> 
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>WESTERN CUISINE</b></p>
    <p class="button button-show button-block blueSegmentImage" style="color:#000000;text-align:center;"><b>YONG TAU FOO</b></p>
</ion-content>
</ion-view>
