<ion-view title="YIH Food Junction" id="page18" class=" " ng-controller="GeoCtrl">
    <ion-content padding="true" class="has-header">
        <button id="yIHFoodJunction-button48" class=" button button-positive  button-block ">Contribute!</button>
        <a ui-sref="seeLah7" id="yIHFoodJunction-button49" class=" button button-positive  button-block ">See Lah!!!</a>
         <div> 
         
            <div>
                <div class="button button-show button-block">
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:100px; font-size:20px;" >Opening hours</p> 
                 <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px;" >
                 	Mon-Fri: 8.00am to 8.00pm <br />
        					Sat: 8.00am to 3.00pm<br>
        					Total  No. of Stalls: 8
        					</p>
                 </div>
		      </div>
          <div >
		      <div class="button button-show button-block">
				    <p style="font-family:Comic Sans MS,  sans-serif; font-weight:300px; font-size:18px" > Where: <br>Yusof
            Ishak House<br />
            Level 2<br>            
           	Contact No: 6774 4940</p>
			    </div>
        </div>
          <a href="" class="button button-show button-block" style="color:#000000;text-decoration:none;">View Menu: Not Done</a>  
         <div class="google-maps">

         <iframe width="300" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ6b8PEPga2jEROvB27FERork&key=AIzaSyB_DF8vzm4vFbV3ykwCwZoeQo3Oyx7cXgY" allowfullscreen></iframe>
      <br />
        </div>
    </div>





    </ion-content>
</ion-view>