<ion-view title="yumNUS" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
      <div>
    		<span>
    			<a ui-sref="showNearBy" id="yumNUS-button40" style="font-weight:600; text-align:center;line-height:45px;" class=" button button-positive  button-block  icon-right ion-chevron-right"><img src="images/gps_logo.png" class= "img"/> Show Nearby!</a>
    			</span>
    		</div>

        <a ui-sref="chooseCanteen" id="yumNUS-button1" style="font-weight:600;text-align:center;line-height:45px;" class=" button button-royal  button-block ">Check Canteen</a>
        <a ui-sref="chooseCafe" id="yumNUS-button12" style="font-weight:600;" class=" button button-positive  button-block ">Check Cafe</a>
        <a ui-sref="checkFastfoods" id="yumNUS-button26" style="font-weight:600;color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block ">Check Fastfoods</a>
          <!-- a ui-sref="geolocationTest" id="yumNUS-button26" style="font-weight:600; color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block ">Show my location</a> -->
    </ion-content>
</ion-view>