<ion-view hide-back-button="true" title="yumNUS" id="page1" style="background-color:#30231d; font-family:Comic Sans MS, cursive, sans-serif;font-weight:800px" ng-controller="GeoCtrl"  class="backgroundImage">
    <ion-nav-buttons side="left">
        <button class="ion-android-settings" style="font-size:25px !important;" ng-click="logout()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <!-- previous code
        <a ui-sref="showNearBy" id="yumNUS-button40" style="font-weight:600; text-align:center;line-height:45px;" class="blueSegmentImage button button-intro  button-block  icon-right ion-chevron-right"><img src="images/gps_logo.png" class= "img"/> Show Nearby!</a>
    
        <a ui-sref="chooseCanteen" id="yumNUS-button1" style="font-weight:600;text-align:center;line-height:45px;" class="blueSegmentImage button button-intro  button-block icon-right ion-chevron-right ">
        <img src="images/fork_50.png" style="width:25px; position:relative; top:-5px; right:3px" class="img"/> 
        	Check Canteen
        </a>
        <a ui-sref="chooseCafe" id="yumNUS-button12" style="font-weight:600; text-align:center; line-height:45px;" class="blueSegmentImage button icon-right ion-chevron-right button-intro button-block">        		
        		<img src="images/coffee.png" style="position:relative; top:-5px; right:15px" class="img"/>
        		Check Cafe
        </a>
        
        <a ui-sref="checkFastfoods" id="yumNUS-button26" style="font-weight:600;text-align:center;line-height:45px;" class="blueSegmentImage button button-intro  button-block icon-right ion-chevron-right">
        	<img src="images/burger.png" style="position:relative; top:-5px; left:3px; height:30px; width:35px" class="img"/>
        	Check Fastfoods
        </a>
        -->
        <p ng-init="getUsername()" style="font-family:'Open Sans'; font-size:25px">Hello {{ userName }}!</p>
        <div id="iconPosition" style="top:10px">
            <div style="text-align:center" id="pos" class="blackEffect">
                <img src="images/gpsicon.png" class="contributeIconOne" ui-sref="showNearBy">
                <h1 style="font-family:'Open Sans'; font-size:15px; font-weight:bold; position:relative; top:-15px">Nearby</h1>
            </div>
            <div style="text-align:center" id="pos">
                <img src="images/forkspoonicon.png" class="contributeIconOne" ui-sref="chooseCanteen">
                <h1 style="font-family:'Open Sans'; font-size:15px; font-weight:bold; position:relative; top:-15px">Canteen</h1>
            </div>
            <div style="text-align:center" id="pos">
                <img src="images/cofeeicon.png" class="contributeIconOne" ui-sref="chooseCafe">
                <h1 style="font-family:'Open Sans'; font-size:15px; font-weight:bold; position:relative; top:-15px">Cafe</h1>
            </div>
            <div style="text-align:center" id="pos">
                <img src="images/burgericon.png"; class="contributeIconOne" ui-sref="checkFastfoods">
                <h1 style="font-family:'Open Sans'; font-size:15px; font-weight:bold; position:relative; top:-15px">Fastfood</h1>
            </div>
            <span class="stretch"></span>
        </div>

         <h2>Top 3 Picks</h2>
         <div   ng-init="colourCode(restaurant)" ng-repeat="restaurant in restaurantList | orderBy: 'distance'| limitTo : numLimit " href='#'>
            <article class="item_frame" >
                <div class="marker_left_container" >
                <div ng-class= "getColor(restaurant)" >
               
                <div>
                    
                    <a href="" ng-href="#/{{restaurant.url}}" style="font-weight:600; text-align:center;line-height:45px; height:130px" class=" button button-intro  button-block blueSegmentImage" >

                    <h2  ng-class= "getColor(restaurant)" style="font-family:'Open Sans', Comic Sans MS, sans-serif; font-size:20px; font-weight:bold; text-align:left; position:relative; top:10px;"> {{ restaurant.Name }} </h2>

                    <div style="float:left"> 
                        <div style="font-family:'Open Sans'; text-align:left">
                        <h1 style="font-weight:300px; font-size:15px; display:inline; border-style:solid; border-width:1px; padding-left:5px; padding-right:5px; padding-bottom:2px; color:#4db8ff"> {{ restaurant.venueType }} </h1>
                        </div>

                        <p style="font-family:'Open Sans', Comic Sans MS, sans-serif; font-weight:300px; font-size:15px; text-align:left; color:#a6a6a6; position:relative; top:5px"> {{ restaurant.distance.toFixed(2)}} km away</p>
                    </div >

                     <div style="font-family:'Open Sans', Comic Sans MS, sans-serif; position:relative; text-align:center; float:right; right:80px"> 

                    <img ng-src="{{restaurant.src}}" style="height:75px; width:75px;position:relative; left:50px; top:5px"/>

                    <div style="position:absolute; top:20px; left:75px">
                        {{ restaurant.percent }}%
                    </div>
                    
                </div>
                    </a> 
                     </div>
                </div>
            </div>

            </article>
        </div>
    </ion-content>
</ion-view>