<ion-view title="yumNUS" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
   		 <a ui-sref="showNearBy" id="yumNUS-button40" style="font-weight:600;" class=" button button-positive  button-block ">Show Nearby!</a>
        <a ui-sref="chooseCanteen" id="yumNUS-button1" style="font-weight:600;" class=" button button-royal  button-block ">Check Canteen</a>
        <a ui-sref="chooseCafe" id="yumNUS-button12" style="font-weight:600;" class=" button button-positive  button-block ">Check Cafe</a>
        <a ui-sref="checkFastfoods" id="yumNUS-button26" style="font-weight:600;color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block ">Check Fastfoods</a>
          <!-- a ui-sref="geolocationTest" id="yumNUS-button26" style="font-weight:600; color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block ">Show my location</a> -->
    </ion-content>
</ion-view>